#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  border-radius: 50px;
  color: #1a1a1a;
}

.sun-pic {
  height: 7em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 5em;
  color: white;
}

