.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sun-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 144px;
    height: 144px;
    margin: 4px;
}

.sun-pic {
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 6px;
    font-size: 35px;
}