.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sun-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 144px;
    height: 144px;
    margin: 4px;
}

.sun-pic {
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 6px;
    font-size: 35px;
}

.select-city {
    font-family: 'Roboto', sans-serif;
}

.bottom-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 60px;
    position: fixed;
    bottom: 20px;
    width: 70%;
    height: 18%;
    border-radius: 30px;
}

.panel-section {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.temperature {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.city-name {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
.weather-panel-pic {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.city-selector-container {
    position: relative;
    width: 350px;
}


.city-selector-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 191px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}

.city-selector-list li {
    padding: 4px;
    cursor: pointer;
}

.city-selector-list li:hover {
    background-color: #f2f2f2;
}
